/bak/
/bin/
/build/
/event/
/freetype/
/gframe/ygopro.ico
/gframe/ygopro.rc
/gframe/ygopro.aps
/irrlicht
/lua/
/obj/
/sqlite3/
/irrklang
/ikpmp3/


.DS_Store

cards.cdb
error.log

ygopro
ygopro.exe
/ygopro.app

/bin/
/build/
/obj/

/event/
/freetype/
/irrlicht/
/irrklang/
/ikpmp3/
/lua/
/sqlite3/

/gframe/*.ico
/gframe/ygopro.rc
/gframe/ygopro.aps

premake5
premake5.exe
